################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopWorki/Wordki/.vs
/DesktopWorki/Wordki/packages
/DesktopWorki/Wordki/Wordki/bin/
/DesktopWorki/Wordki/Wordki/obj/
/mWordki
/DesktopWorki/Wordki/WordkiRepository/bin/Debug
/DesktopWorki/Wordki/WordkiRepository/bin/Debug
/DesktopWorki/Wordki/WordkiRepository/obj/Debug
/DesktopWorki/Wordki/WordkiRepository/Migrations
/DesktopWorki/Wordki/Wordki.Test/bin/Debug
/DesktopWorki/Wordki/Wordki.Test/obj/Debug
/DesktopWorki/Wordki/Wordki/Log
/DesktopWorki/Wordki/Wordki.Test/bin/Release
/DesktopWorki/Wordki/Wordki.Test/obj/Release
/DesktopWorki/Wordki/WordkiModel/bin/Debug
/DesktopWorki/Wordki/WordkiModel/obj/Debug
/DesktopWorki/Wordki/WordkiModelCore/.vs/WordkiModelCore/v15
/DesktopWorki/Wordki/WordkiModelCore/bin/Debug/netstandard2.0
/DesktopWorki/Wordki/WordkiModelCore/obj
/packages
/.vs/Wordki/v15
/src/Wordki.App/bin/Debug
/src/Wordki.App/Library
/src/Wordki.App/obj/Debug
/src/Wordki.Model/bin/Debug
/src/Wordki.Model/obj/Debug
/tests/Wordki.Test/bin/Debug
/tests/Wordki.Test/obj/Debug
/src/Wordki.Model.Common/bin/Debug
/src/Wordki.Model.Common/obj/Debug
