################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopWorki/Wordki/.vs
/DesktopWorki/Wordki/packages
/DesktopWorki/Wordki/Wordki/bin/
/DesktopWorki/Wordki/Wordki/obj/
/mWordki
/DesktopWorki/Wordki/WordkiRepository/bin/Debug
/DesktopWorki/Wordki/WordkiRepository/bin/Debug
/DesktopWorki/Wordki/WordkiRepository/obj/Debug
/DesktopWorki/Wordki/WordkiRepository/Migrations
